* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter Variable";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  font-family: "Inter Variable", sans-serif;
}

.container {
  background: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 45px;
}

nav a {
  display: block;
}

a {
  background-color: hsl(0, 0%, 20%);
  padding: 15px 120px;
  margin-bottom: 15px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  font-weight: 700;
}

a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.instagram {
  margin-bottom: 0;
}

.image {
  margin: 0 auto 30px auto;
}

.image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

h1 {
  margin-bottom: 15px;
  font-size: 28px;
}

.location {
  margin-bottom: 30px;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}

.qualification {
  margin-bottom: 30px;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  background: none;
  padding: 0;
}
